/********** Base styles **********/
* {
  box-sizing: border-box;
  box-sizing: ;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

#container1 {
  position: relative;
  float: left;
}

.container2 {
  margin: 15px;
  position: relative;
  border: 1px solid black;
  height:200px;
  overflow: auto;
}

#container20 {
  background-color: #E9EAEC;
}

#container21 {
  background-color: #C7C9CE;
}

#container22 {
  background-color: #A5A9B1;
} 

.p1 {
  border: 1px solid black;
  width: 50%;
  height: 30px;
  color: black;
  float:right;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

.p2 {
  width: 90%;
  margin: auto;
  clear: right;
}

#p1pink {
  background-color: pink;
}

#p1orange {
  background-color: orange;
}

#p1green {
  background-color: seagreen;
  color: whitesmoke;
} 

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
	.col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
}
